In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('pyspark-by-examples').getOrCreate()

In [2]:
simpleData = [("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100)
  ]
schema = ["employee_name", "department", "salary"]
df = spark.createDataFrame(data=simpleData, schema = schema)

In [3]:
df.printSchema()
df.show(truncate=False)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|James        |Sales     |3000  |
|Michael      |Sales     |4600  |
|Robert       |Sales     |4100  |
|Maria        |Finance   |3000  |
|James        |Sales     |3000  |
|Scott        |Finance   |3300  |
|Jen          |Finance   |3900  |
|Jeff         |Marketing |3000  |
|Kumar        |Marketing |2000  |
|Saif         |Sales     |4100  |
+-------------+----------+------+

In [4]:
from pyspark.sql.functions import approx_count_distinct
print("approx_count_distinct: " + \
      str(df.select(approx_count_distinct("salary")).collect()[0][0]))

approx_count_distinct: 6

In [5]:
from pyspark.sql.functions import avg
print("avg: " + str(df.select(avg("salary")).collect()[0][0]))

avg: 3400.0

In [6]:
from pyspark.sql.functions import collect_list
df.select(collect_list("salary")).show(truncate=False)

+------------------------------------------------------------+
|collect_list(salary)                                        |
+------------------------------------------------------------+
|[3000, 4600, 4100, 3000, 3000, 3300, 3900, 3000, 2000, 4100]|
+------------------------------------------------------------+

In [7]:
from pyspark.sql.functions import collect_set
df.select(collect_set("salary")).show(truncate=False)

+------------------------------------+
|collect_set(salary)                 |
+------------------------------------+
|[4600, 3000, 3900, 4100, 3300, 2000]|
+------------------------------------+

In [8]:
from pyspark.sql.functions import countDistinct
df2 = df.select(countDistinct("department", "salary"))
df2.show(truncate=False)
print("Distinct Count of Department & Salary: "+str(df2.collect()[0][0]))

+----------------------------------+
|count(DISTINCT department, salary)|
+----------------------------------+
|8                                 |
+----------------------------------+

Distinct Count of Department & Salary: 8

In [9]:
from pyspark.sql.functions import count
print("count: "+str(df.select(count("salary")).collect()[0]))

count: Row(count(salary)=10)

In [10]:
from pyspark.sql.functions import first
df.select(first("salary")).show(truncate=False)

+-------------+
|first(salary)|
+-------------+
|3000         |
+-------------+

In [11]:
from pyspark.sql.functions import last 
df.select(last("salary")).show()

+------------+
|last(salary)|
+------------+
|        4100|
+------------+

In [12]:
from pyspark.sql.functions import kurtosis
df.select(kurtosis("salary")).show(truncate=False)

+-------------------+
|kurtosis(salary)   |
+-------------------+
|-0.6467803030303032|
+-------------------+

In [13]:
from pyspark.sql.functions import min,max,mean,avg
print("min: " + str(df.select(min("salary")).collect()[0][0]))
print("max: " + str(df.select(max("salary")).collect()[0][0]))
print("avg: " + str(df.select(avg("salary")).collect()[0][0]))
print("mean: " + str(df.select(mean("salary")).collect()[0][0]))
df.select(min("salary"),max("salary"),avg("salary"),mean("salary")).show()

min: 2000
max: 4600
avg: 3400.0
mean: 3400.0
+-----------+-----------+-----------+-----------+
|min(salary)|max(salary)|avg(salary)|avg(salary)|
+-----------+-----------+-----------+-----------+
|       2000|       4600|     3400.0|     3400.0|
+-----------+-----------+-----------+-----------+

In [14]:
from pyspark.sql.functions import skewness
df.select(skewness("salary")).show(truncate=False)

+--------------------+
|skewness(salary)    |
+--------------------+
|-0.12041791181069571|
+--------------------+

In [15]:
from pyspark.sql.functions import stddev,stddev_samp,stddev_pop
df.select(stddev("salary"), stddev_samp("salary"), \
    stddev_pop("salary")).show(truncate=False)

+-------------------+-------------------+------------------+
|stddev_samp(salary)|stddev_samp(salary)|stddev_pop(salary)|
+-------------------+-------------------+------------------+
|765.9416862050705  |765.9416862050705  |726.636084983398  |
+-------------------+-------------------+------------------+

In [16]:
from pyspark.sql.functions import sum,sumDistinct
df.select(sum("salary"),sumDistinct("salary")).show(truncate=False)

+-----------+--------------------+
|sum(salary)|sum(DISTINCT salary)|
+-----------+--------------------+
|34000      |20900               |
+-----------+--------------------+

In [17]:
from pyspark.sql.functions import variance,var_samp,var_pop
df.select(variance("salary"),var_samp("salary"),var_pop("salary")) \
  .show(truncate=False)

+-----------------+-----------------+---------------+
|var_samp(salary) |var_samp(salary) |var_pop(salary)|
+-----------------+-----------------+---------------+
|586666.6666666666|586666.6666666666|528000.0       |
+-----------------+-----------------+---------------+