# PySpark withColumn to update or add a column

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

In [2]:
data = [('James','','Smith','1991-04-01','M',3000),
  ('Michael','Rose','','2000-05-19','M',4000),
  ('Robert','','Williams','1978-09-05','M',4000),
  ('Maria','Anne','Jones','1967-12-01','F',4000),
  ('Jen','Mary','Brown','1980-02-17','F',-1)
]

columns = ["firstname","middlename","lastname","dob","gender","salary"]

In [3]:
df = spark.createDataFrame(data=data, schema = columns)
df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

UPDATE(CAST)

In [4]:
from pyspark.sql.functions import col
df = df.withColumn("salary",col("salary").cast("Integer"))
df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

UPDATE

In [5]:
df = df.withColumn("salary",col("salary")*100)
df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

COPIED FROM EXISTING COLUMN

In [6]:
from pyspark.sql.functions import lit
df = df.withColumn("CopiedColumn",col("salary")* -1)
df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- CopiedColumn: integer (nullable = true)

In [7]:
df = df.withColumn("Country", lit("USA"))
df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- CopiedColumn: integer (nullable = true)
 |-- Country: string (nullable = false)

In [8]:
df.withColumnRenamed("gender","sex") \
  .show(truncate=False)

+---------+----------+--------+----------+---+------+------------+-------+
|firstname|middlename|lastname|dob       |sex|salary|CopiedColumn|Country|
+---------+----------+--------+----------+---+------+------------+-------+
|James    |          |Smith   |1991-04-01|M  |300000|-300000     |USA    |
|Michael  |Rose      |        |2000-05-19|M  |400000|-400000     |USA    |
|Robert   |          |Williams|1978-09-05|M  |400000|-400000     |USA    |
|Maria    |Anne      |Jones   |1967-12-01|F  |400000|-400000     |USA    |
|Jen      |Mary      |Brown   |1980-02-17|F  |-100  |100         |USA    |
+---------+----------+--------+----------+---+------+------------+-------+

COLUMN DROP

In [9]:
df=df.drop("CopiedColumn")
df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- Country: string (nullable = false)

In [10]:
df.show(2)

+---------+----------+--------+----------+------+------+-------+
|firstname|middlename|lastname|       dob|gender|salary|Country|
+---------+----------+--------+----------+------+------+-------+
|    James|          |   Smith|1991-04-01|     M|300000|    USA|
|  Michael|      Rose|        |2000-05-19|     M|400000|    USA|
+---------+----------+--------+----------+------+------+-------+
only showing top 2 rows