In [ ]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('pyspark-by-examples').getOrCreate()
spark.conf.set("spark.sql.execution.arrow.enabled", 'true')

In [ ]:
df=spark.read.csv("C:\Interpreter\mockd.csv")
df.printSchema()

In [ ]:
df = spark.read.format("csv").load("C:\Interpreter\mockd.csv")
#       or
#df = spark.read.format("org.apache.spark.sql.csv").load("/tmp/resources/zipcodes.csv")
df.printSchema()

In [ ]:
df2 = spark.read.option("header",True) \
     .csv("C:\Interpreter\mockd.csv")
df.show(5)

Multiple Load

In [ ]:
from typing import List
df=spark.read.csv(['C:\\Interpreter\\data3.csv','C:\\Interpreter\\data.csv',], header=True)
df.printSchema()

In [8]:
df3 = spark.read.options(delimiter=',') \
  .csv("C:\Interpreter\mockd.csv")
df3.show(10)

+------------+-------+---------+------+----------+------------+
|         _c0|    _c1|      _c2|   _c3|       _c4|         _c5|
+------------+-------+---------+------+----------+------------+
|subcriber_sk|   name|  surname|fatura|fatura_gun|kampanya_tip|
|           2| Anders|  Reinger|    35|16.11.2020|         Mrs|
|        2987|  Barry|   Falcus|    60|15.01.2020|          Ms|
|        8807|  Dolli|   Willas|    98|03.09.2020|   Honorable|
|          00| Verina|   Tysall|    63|25.09.2020|          Mr|
|          68|  Frank|   Bushby|    38|13.01.2020|          Dr|
|         438|Ermanno|Philipeau|    36|10.03.2020|         Rev|
|       74314|Janella|   Lebbon|    42|30.12.2019|         Rev|
|         941|Stormie|Roelofsen|    61|15.06.2020|         Mrs|
|        8022| Melvin|   Hawson|    48|20.04.2020|          Ms|
+------------+-------+---------+------+----------+------------+
only showing top 10 rows

In [9]:
df4 = spark.read.options(inferSchema='True',delimiter=',') \
  .csv("C:\Interpreter\mockd.csv")
df4.printSchema()
df4.show()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)

+------------+----------+---------+------+----------+------------+
|         _c0|       _c1|      _c2|   _c3|       _c4|         _c5|
+------------+----------+---------+------+----------+------------+
|subcriber_sk|      name|  surname|fatura|fatura_gun|kampanya_tip|
|           2|    Anders|  Reinger|    35|16.11.2020|         Mrs|
|        2987|     Barry|   Falcus|    60|15.01.2020|          Ms|
|        8807|     Dolli|   Willas|    98|03.09.2020|   Honorable|
|          00|    Verina|   Tysall|    63|25.09.2020|          Mr|
|          68|     Frank|   Bushby|    38|13.01.2020|          Dr|
|         438|   Ermanno|Philipeau|    36|10.03.2020|         Rev|
|       74314|   Janella|   Lebbon|    42|30.12.2019|         Rev|
|         941|   Stormie|Roelofsen|    61|15.06.2020|         Mrs|
|        8022|    Melvin|   Hawson|    48|20.04.2020|          Ms|
|           0|     Morty| Andersen|    64|08.07.2020|          Dr|
|         693|   Hermine|  Herrero|    44|12.05.2020|         Rev|
|          87|     Cordy|  Rodgers|    26|15.11.2020|          Ms|
|           5|     Winny| Bruneton|    79|08.01.2020|          Ms|
|           2|     Dedie|    Riply|    82|11.06.2020|   Honorable|
|         851|   Padgett|      Gee|    48|25.03.2020|          Dr|
|           6|     Anica|  Krolman|    28|29.02.2020|          Ms|
|         877|     Nicki|   Filkov|    46|18.02.2020|          Mr|
|         259|Fredericka| Lutwyche|    40|26.06.2020|          Mr|
|       08813|      Alma|   Possel|    47|15.09.2020|          Dr|
+------------+----------+---------+------+----------+------------+
only showing top 20 rows

In [10]:
df4 = spark.read.option("inferSchema",True) \
                .option("delimiter",",") \
  .csv("C:\Interpreter\data.csv")
df4.printSchema()
df4.show(truncate=False)

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)

+---------+-------------+---------------------------------+------+-------------+
|_c0      |_c1          |_c2                              |_c3   |_c4          |
+---------+-------------+---------------------------------+------+-------------+
|Banky    |Russon       |brusson0@nih.gov                 |Male  |Indonesia    |
|Gelya    |Bee          |gbee1@addtoany.com               |Female|Malta        |
|Magdalene|Loseby       |mloseby2@chronoengine.com        |Female|Turkmenistan |
|Waylon   |Tugman       |wtugman3@mayoclinic.com          |Male  |Philippines  |
|Rice     |Rustadge     |rrustadge4@hexun.com             |Male  |Thailand     |
|Erin     |Buckenhill   |ebuckenhill5@google.de           |Male  |Greece       |
|Joanie   |Broadhurst   |jbroadhurst6@sohu.com            |Female|Panama       |
|Tomaso   |Bartlomieczak|tbartlomieczak7@sciencedirect.com|Male  |Greece       |
|Josias   |Gommes       |jgommes8@ask.com                 |Male  |Mexico       |
|Andie    |Alldre       |aalldre9@kickstarter.com         |Female|Lithuania    |
|Shanon   |Castrillo    |scastrilloa@bluehost.com         |Female|China        |
|Bird     |Veare        |bveareb@arizona.edu              |Female|New Zealand  |
|Tova     |Braley       |tbraleyc@nydailynews.com         |Female|China        |
|Lynn     |Croll        |lcrolld@canalblog.com            |Female|Tunisia      |
|Kristin  |Hubberstey   |khubbersteye@sogou.com           |Female|Somalia      |
|Gabi     |Jakubowski   |gjakubowskif@cdc.gov             |Male  |Finland      |
|Karna    |Bowbrick     |kbowbrickg@wikimedia.org         |Female|Thailand     |
|Elane    |McIver       |emciverh@google.com.au           |Female|Poland       |
|Raynard  |Boards       |rboardsi@sogou.com               |Male  |United States|
|Eleanore |Trevor       |etrevorj@slashdot.org            |Female|Sweden       |
+---------+-------------+---------------------------------+------+-------------+
only showing top 20 rows

In [11]:
df5 = spark.read.options(header='True', inferSchema='True', delimiter=',') \
  .csv("C:\Interpreter\data.csv")
df5.show(5,truncate=False)

+---------+----------+-------------------------+------+------------+
|Banky    |Russon    |brusson0@nih.gov         |Male  |Indonesia   |
+---------+----------+-------------------------+------+------------+
|Gelya    |Bee       |gbee1@addtoany.com       |Female|Malta       |
|Magdalene|Loseby    |mloseby2@chronoengine.com|Female|Turkmenistan|
|Waylon   |Tugman    |wtugman3@mayoclinic.com  |Male  |Philippines |
|Rice     |Rustadge  |rrustadge4@hexun.com     |Male  |Thailand    |
|Erin     |Buckenhill|ebuckenhill5@google.de   |Male  |Greece      |
+---------+----------+-------------------------+------+------------+
only showing top 5 rows

In [12]:
df=spark.read.options(header='True').csv("C:\Interpreter\mockd.csv")
df.show(10)

+------------+-------+---------+------+----------+------------+
|subcriber_sk|   name|  surname|fatura|fatura_gun|kampanya_tip|
+------------+-------+---------+------+----------+------------+
|           2| Anders|  Reinger|    35|16.11.2020|         Mrs|
|        2987|  Barry|   Falcus|    60|15.01.2020|          Ms|
|        8807|  Dolli|   Willas|    98|03.09.2020|   Honorable|
|          00| Verina|   Tysall|    63|25.09.2020|          Mr|
|          68|  Frank|   Bushby|    38|13.01.2020|          Dr|
|         438|Ermanno|Philipeau|    36|10.03.2020|         Rev|
|       74314|Janella|   Lebbon|    42|30.12.2019|         Rev|
|         941|Stormie|Roelofsen|    61|15.06.2020|         Mrs|
|        8022| Melvin|   Hawson|    48|20.04.2020|          Ms|
|           0|  Morty| Andersen|    64|08.07.2020|          Dr|
+------------+-------+---------+------+----------+------------+
only showing top 10 rows

In [13]:
from pyspark.sql.types import StructType,IntegerType,StringType,DoubleType,BooleanType
schema = StructType() \
      .add("RecordNumber",IntegerType(),True) \
      .add("Zipcode",IntegerType(),True) \
      .add("ZipCodeType",StringType(),True) \
      .add("City",StringType(),True) \
      .add("State",StringType(),True) \
      .add("LocationType",StringType(),True) \
      .add("Lat",DoubleType(),True) \
      .add("Long",DoubleType(),True) \
      .add("Xaxis",IntegerType(),True) \
      .add("Yaxis",DoubleType(),True) \
      .add("Zaxis",DoubleType(),True) \
      .add("WorldRegion",StringType(),True) \
      .add("Country",StringType(),True) \
      .add("LocationText",StringType(),True) \
      .add("Location",StringType(),True) \
      .add("Decommisioned",BooleanType(),True) \
      .add("TaxReturnsFiled",StringType(),True) \
      .add("EstimatedPopulation",IntegerType(),True) \
      .add("TotalWages",IntegerType(),True) \
      .add("Notes",StringType(),True)
      
df_with_schema = spark.read.format("csv") \
      .option("header", True) \
      .schema(schema) \
      .load("c:\Interpreter\data.csv")

In [14]:
df_with_schema.printSchema()
df_with_schema.show(5)

root
 |-- RecordNumber: integer (nullable = true)
 |-- Zipcode: integer (nullable = true)
 |-- ZipCodeType: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- LocationType: string (nullable = true)
 |-- Lat: double (nullable = true)
 |-- Long: double (nullable = true)
 |-- Xaxis: integer (nullable = true)
 |-- Yaxis: double (nullable = true)
 |-- Zaxis: double (nullable = true)
 |-- WorldRegion: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- LocationText: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Decommisioned: boolean (nullable = true)
 |-- TaxReturnsFiled: string (nullable = true)
 |-- EstimatedPopulation: integer (nullable = true)
 |-- TotalWages: integer (nullable = true)
 |-- Notes: string (nullable = true)

+------------+-------+--------------------+------+------------+------------+----+----+-----+-----+-----+-----------+-------+------------+--------+-------------+---------------+-------------------+----------+-----+
|RecordNumber|Zipcode|         ZipCodeType|  City|       State|LocationType| Lat|Long|Xaxis|Yaxis|Zaxis|WorldRegion|Country|LocationText|Location|Decommisioned|TaxReturnsFiled|EstimatedPopulation|TotalWages|Notes|
+------------+-------+--------------------+------+------------+------------+----+----+-----+-----+-----+-----------+-------+------------+--------+-------------+---------------+-------------------+----------+-----+
|        null|   null|  gbee1@addtoany.com|Female|       Malta|        null|null|null| null| null| null|       null|   null|        null|    null|         null|           null|               null|      null| null|
|        null|   null|mloseby2@chronoen...|Female|Turkmenistan|        null|null|null| null| null| null|       null|   null|        null|    null|         null|           null|               null|      null| null|
|        null|   null|wtugman3@mayoclin...|  Male| Philippines|        null|null|null| null| null| null|       null|   null|        null|    null|         null|           null|               null|      null| null|
|        null|   null|rrustadge4@hexun.com|  Male|    Thailand|        null|null|null| null| null| null|       null|   null|        null|    null|         null|           null|               null|      null| null|
|        null|   null|ebuckenhill5@goog...|  Male|      Greece|        null|null|null| null| null| null|       null|   null|        null|    null|         null|           null|               null|      null| null|
+------------+-------+--------------------+------+------------+------------+----+----+-----+-----+-----+-----------+-------+------------+--------+-------------+---------------+-------------------+----------+-----+
only showing top 5 rows

DATAFRAME TO CSV

In [ ]:
import pandas as pd
pandasDF = df.toPandas()
print(pandasDF)

In [27]:
pandasDF.to_csv("olcay.csv")